html, body {
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #272525;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #919191;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
p, ol, ul {
    margin-top: 0;
}
ol, ul {
    padding: 0;
    list-style: none;
}
p {
    line-height: 180%;
}
a {
    color: #747474;
}
a:hover {
    text-decoration: none;
}
.container {
    margin: 0px auto;
    width: 1200px;
}
                        /* Image Style*/

.image {
    display: inline-block;
}
.image img {
    display: block;
    width: 100%;
}
                        /* Button Style */
.button {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 54px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
}
.button:hover {
    background: #e22929;
    transition: all .25s ease-in-out;
}
                        /* Logo */
#logo {
    padding: 3em 0em;
    text-transform: uppercase;
}
#logo h1 a {
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(224, 218, 218);
}
#logo span {
    color: #BC1414;
}
#logo p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.10em;
    font-size: 0.90em;
}
#logo p a {
    text-decoration: none;
}
                        /* Navbar */
.topnav {
    overflow: hidden;
    background-color: #1B1B1B;
    border-bottom: 4px solid #BC1414;
    padding: 0px 0px 0px 0px;
    line-height: normal;
    text-align: center;
}
.topnav a {
    padding: 0em 2em;
    line-height: 80px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    color: #838383;
}
.topnav a.active {
    background-color: #BC1414;
    color: rgb(224, 218, 218);
    padding: 3%;
}
.topnav a:hover {
    text-decoration: none;
    color: rgb(224, 218, 218);
}
.topnav .icon {
    display: none;
}
                        /* Banner*/
#banner {
    margin: 2em auto;
}
                        /* Footer  */

#footer-bottom {
    padding: 2em 0em;
    font-size: 1em;
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    color: #6A6A6A;
    border-top: 1px solid #363636;
}
#footer-bottom a {
    font-weight: bold;
    text-decoration: none;
    color: #747474;
}
#footer-bottom a:hover {
    text-decoration: underline;
    color: #747474;
}
                        /* Three Columns */
#three-column {
    overflow: hidden;
    margin-bottom: 2em;
    background: rgb(224, 218, 218);
    border-bottom: 4px solid #BC1414;
    color: #525252;
    text-align: justify;
}
#three-column h2 {
    margin: 1em 0em;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    color: #454445;
    text-align: center;
}
#three-column #tbox1, #three-column #tbox2, #three-column #tbox3 {
    float: left;
    width: 300px;
    padding: 50px 50px 80px 50px;
}
#background-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1202px;
    background-color: rgb(224, 218, 218);
}
#text {
    width: 700px;
    height: 350px;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.h1-heading {
    color: rgb(224, 218, 218);
    font-size: 50px;
    text-align: center;
}
.h2-heading {
    color: rgb(224, 218, 218);
    font-size: 20px;
    text-align: center;
}
.image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
                        /* Galery */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
    width: 1200px;
    margin: 0px auto;
    width: 1200px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}
.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}
.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}
                        /* Responsiveness */
@media screen and (max-width: 1220px) {
    .container {
        margin: 0px auto;
        width: 1000px;
    }
    .photo {
        width: 1000px;
    }
    #background-text {
        width: 1000px;
    }
    #three-column h2 {
        font-size: 1em;
    }
    #three-column #tbox1, #three-column #tbox2, #three-column #tbox3 {
        width: 173px;
        padding: 50px 80px;
    }
    #three-column #tbox1 {
        margin-left: -4.3rem;
    }
    .gallery {
        width: 1000px;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 3.6%;
    }
}
@media screen and (max-width: 1016px) {
    .container {
        margin: 0px auto;
        width: 800px;
    }
    .photo {
        width: 800px;
    }
    #background-text {
        width: 800px;
    }
    .gallery {
        width: 800px;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 4.5%;
    }
    #three-column #tbox1, #three-column #tbox2, #three-column #tbox3 {
        text-align: center;
    }
    #tbox2 {
        margin-left: -4rem;
    }
    #tbox3 {
        margin-left: -5rem;
    }
    .help2 {
        width: 225px;
    }
    .button {
        margin-left: 0.5rem;
    }
}
@media screen and (max-width: 816px) {
    .container {
        margin: 0px auto;
        width: 600px;
    }
    .photo {
        width: 600px;
    }
    #background-text {
        width: 600px;
    }
    .gallery {
        width: 600px;
    }
    .image {
        width: 600px;
    }
    #text {
        width: 600px;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 5.5%;
    }
    #tbox1 {
        margin-left: 54326rem;
    }
    #tbox2 {
        margin-left: 0.17578rem;
    }
    #tbox3 {
        margin-left: 7rem;
    }
    .help2 {
        width: 200px;
    }
    .button {
        margin-left: -0rem;
        width: 125px;
    }
}
@media screen and (max-width: 615px) {
    .container {
        margin: 0px auto;
        width: 400px;
    }
    .photo {
        width: 400px;
    }
    #background-text {
        width: 400px;
    }
    .gallery {
        width: 400px;
    }
    .image {
        width: 400px;
    }
    #text {
        font-size: 16.3px;
        width: 400px;
    }
}
@media screen and (max-width: 416px) {
    #logo {
        font-size: 0.5em;
    }
    .container {
        width: 200px;
    }
    .photo {
        width: 200px;
    }
    #background-text {
        width: 200px;
    }
    .gallery {
        width: 200px;
    }
    .image {
        width: 200px;
    }
    #text {
        font-size: 11.6px;
        width: 200px;
    }
    #tbox2 {
        margin-left: -4.3rem;
    }
    #tbox3 {
        margin-left: -4.3rem;
    }
    .help2 {
        width: 175px;
    }
    .button {
        margin-left: -0.6rem;
        width: 120px;
    }
    .h1-heading {
        font-size: 25px;
    }
    .help3 {
        font-size: 7px;
    }
}