html,
body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #272525;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #919191;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

p,
ol,
ul {
    margin-top: 0;
}

ol,
ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}

a {
    color: #747474;
}

a:hover {
    text-decoration: none;
}

.container {
    margin: 0px auto;
    width: 1200px;
}


/* Button Style */

.button {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 30px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
}

.button:hover {
    background: #e22929;
    transition: all .25s ease-in-out;
}


/* Logo */

#logo {
    padding: 3em 0em;
    text-transform: uppercase;
}

#logo h1 a {
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(224, 218, 218);
}

#logo span {
    color: #BC1414;
}

#logo p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.10em;
    font-size: 0.90em;
}

#logo p a {
    text-decoration: none;
}


/* Navbar */

.topnav {
    overflow: hidden;
    background-color: #1B1B1B;
    border-bottom: 4px solid #BC1414;
    padding: 0px 0px 0px 0px;
    line-height: normal;
    text-align: center;
}

.topnav a {
    padding: 0em 2em;
    line-height: 80px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    color: #838383;
}

.topnav a.active {
    background-color: #BC1414;
    color: rgb(224, 218, 218);
    padding: 3%;
}

.topnav a:hover {
    text-decoration: none;
    color: rgb(224, 218, 218);
}

.topnav .icon {
    display: none;
}


/* Banner*/

#banner {
    margin: 2em auto;
}


/* Footer  */

#footer-bottom {
    padding: 2em 0em;
    font-size: 1em;
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    color: #6A6A6A;
    border-top: 1px solid #363636;
}

#footer-bottom a {
    font-weight: bold;
    text-decoration: none;
    color: #747474;
}

#footer-bottom a:hover {
    text-decoration: underline;
    color: #747474;
}


/* Three Columns */

#three-column {
    overflow: hidden;
    margin-bottom: 2em;
    background: rgb(224, 218, 218);
    border-bottom: 4px solid #BC1414;
    color: #525252;
    text-align: justify;
}

#three-column h2 {
    margin: 1em 0em;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    color: #454445;
    text-align: center;
}

#three-column #tbox1,
#three-column #tbox2,
#three-column #tbox3 {
    float: left;
    width: 300px;
    padding: 50px 38px 50px 50px;
}

#button-resources-team1 {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 47px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
}

#button-resources-team1:hover {
    background-color: #e22929;
}

#button-resources-team2 {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 47px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
}

#button-resources-team2:hover {
    background-color: #e22929;
}

#button-resources-team3 {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 47px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
}

#button-resources-team3:hover {
    background-color: #e22929;
}

#button-resources-firetruck1 {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 47px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
}

#button-resources-firetruck1:hover {
    background-color: #e22929;
}

#button-resources-firetruck2 {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 47px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
}

#button-resources-firetruck2:hover {
    background-color: #e22929;
}

#button-resources-firetruck3 {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 47px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
}

#button-resources-firetruck3:hover {
    background-color: #e22929;
}

#h1-teams {
    color: #454445;
    font-size: 40px;
    text-align: left;
    margin-left: 10%;
}

#h1-trucks {
    color: #454445;
    font-size: 40px;
    margin-left: 60%;
    margin-top: -7.5%;
}

#counter-div {
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;
    margin-bottom: 2em;
    background: rgb(224, 218, 218);
    border-bottom: 4px solid #BC1414;
    color: #525252;
}

#teams-counter {
    color: #454445;
    font-size: 40px;
    text-align: left;
    margin-left: 22%;
    font-weight: 700;
}

#trucks-counter {
    color: #454445;
    font-size: 40px;
    text-align: left;
    margin-left: 74%;
    font-weight: 700;
}

.h1-heading {
    color: rgb(224, 218, 218);
    font-size: 50px;
    text-align: center;
}

.diagram1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.diagram2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.diagram3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Responsiveness */

@media screen and (max-width: 1220px) {
    .container {
        margin: 0px auto;
        width: 1000px;
    }
    .photo {
        width: 1000px;
    }
    #three-column #tbox1,
    #three-column #tbox2,
    #three-column #tbox3 {
        text-align: center;
        width: 173px;
        padding: 50px 80px;
    }
    input {
        margin-left: -4.5rem;
    }
    #counter-div {
        text-align: center;
    }
    .pls {
        margin-left: -4.5rem;
    }
    #button-resources-team1,
    #button-resources-team2,
    #button-resources-team3,
    #button-resources-firetruck1,
    #button-resources-firetruck2,
    #button-resources-firetruck3 {
        margin-left: -1.7rem;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 3.6%;
    }
    #h1-trucks {
        margin-top: -5.5rem;
    }
}

@media screen and (max-width: 1016px) {
    .container {
        margin: 0px auto;
        width: 800px;
    }
    .photo {
        width: 800px;
    }
    #three-column #tbox1,
    #three-column #tbox2,
    #three-column #tbox3 {
        text-align: center;
        width: 300px;
    }
    #button-resources-team1,
    #button-resources-team2,
    #button-resources-team3,
    #button-resources-firetruck1,
    #button-resources-firetruck2,
    #button-resources-firetruck3 {
        margin-left: -1rem;
    }
    #tbox1,
    #tbox2,
    #tbox3 {
        margin-left: 12.5rem;
    }
    #three-column #tbox1 h2 {
        margin-left: 0rem;
    }
    #three-column #tbox2 h2 {
        margin-left: 0rem;
    }
    #three-column #tbox3 h2 {
        margin-left: 0rem;
    }
    #tbox1,
    #tbox2,
    #tbox3 {
        margin-left: 11.5rem;
    }
    .pls {
        margin-left: -1rem;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 4.5%;
    }
    #h1-trucks {
        font-size: 35px;
        margin-top: -5.15rem;
    }
    #h1-teams {
        font-size: 35px;
    }
}

@media screen and (max-width: 816px) {
    .container {
        margin: 0px auto;
        width: 600px;
    }
    .photo {
        width: 600px;
    }
    #three-column #tbox1,
    #three-column #tbox2,
    #three-column #tbox3 {
        text-align: center;
        width: 300px;
    }
    #button-resources-team1,
    #button-resources-team2,
    #button-resources-team3,
    #button-resources-firetruck1,
    #button-resources-firetruck2,
    #button-resources-firetruck3 {
        margin-left: -4rem;
        margin-right: 14rem;
    }
    .pls {
        margin-left: -12.5rem;
    }
    #h1-teams {
        margin-left: -5rem;
    }
    #tbox1,
    #tbox2,
    #tbox3 {
        margin-left: 12.5rem;
    }
    #three-column #tbox1 h2 {
        margin-left: -11rem;
    }
    #three-column #tbox2 h2 {
        margin-left: -11rem;
    }
    #three-column #tbox3 h2 {
        margin-left: -11rem;
    }
    #tbox1,
    #tbox2,
    #tbox3 {
        margin-left: 11.5rem;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 5.5%;
    }
    #h1-teams {
        margin-left: 2rem;
        font-size: 25px;
    }
    #h1-trucks {
        font-size: 25px;
        margin-top: -4.5rem;
    }
    #trucks-counter {
        margin-left: 29rem;
    }
    .diagram1 {
        width: 600px;
    }
    .diagram2 {
        width: 600px;
    }
    .diagram3 {
        width: 600px;
    }
}

@media screen and (max-width: 615px) {
    .container {
        margin: 0px auto;
        width: 400px;
    }
    .photo {
        width: 400px;
    }
    #button-resources-team1,
    #button-resources-team2,
    #button-resources-team3,
    #button-resources-firetruck1,
    #button-resources-firetruck2,
    #button-resources-firetruck3 {
        margin-left: 1.5rem;
        margin-right: 14rem;
    }
    #h1-teams {
        font-size: 25px;
        margin-left: -3rem;
    }
    #h1-trucks {
        font-size: 25px;
        margin-left: 0rem;
    }
    .pls {
        margin-left: -0.8rem;
    }
    #tbox1,
    #tbox2,
    #tbox3 {
        margin-left: 12.5rem;
    }
    #three-column #tbox1 h2 {
        margin-left: 0rem;
    }
    #three-column #tbox2 h2 {
        margin-left: 0rem;
    }
    #three-column #tbox3 h2 {
        margin-left: 0rem;
    }
    #three-column #tbox1,
    #three-column #tbox2,
    #three-column #tbox3 {
        text-align: center;
        width: 300px;
    }
    #tbox1,
    #tbox2,
    #tbox3 {
        margin-left: -1.75rem;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 8%;
    }
    #h1-trucks {
        float: right;
        font-size: 20px;
        margin-top: -3.4rem;
    }
    #trucks-counter {
        float: right;
        font-size: 30px;
        margin-top: -2rem;
        margin-right: 5rem;
    }
    #h1-teams {
        margin-left: 0rem;
        font-size: 20px;
    }
    #teams-counter {
        margin-left: 5rem;
        font-size: 30px;
    }
    .diagram1 {
        width: 400px;
    }
    .diagram2 {
        width: 400px;
    }
    .diagram3 {
        width: 400px;
    }
}

@media screen and (max-width: 415px) {
    #logo {
        font-size: 0.5em;
    }
    .container {
        margin: 0px auto;
        width: 200px;
    }
    .photo {
        width: 200px;
    }
    #h1-teams {
        font-size: 15px;
        margin-left: -1.7rem;
    }
    #h1-trucks {
        font-size: 15px;
        margin-left: 1rem;
    }
    #three-column #tbox1 h2 {
        margin-left: -12rem;
    }
    #three-column #tbox2 h2 {
        margin-left: -12rem;
    }
    #three-column #tbox3 h2 {
        margin-left: -12rem;
    }
    #button-resources-team1,
    #button-resources-team2,
    #button-resources-team3,
    #button-resources-firetruck1,
    #button-resources-firetruck2,
    #button-resources-firetruck3 {
        margin-left: -4rem;
        margin-right: 14rem;
    }
    .pls {
        width: 200px;
        height: 180px;
        margin-left: -12.7rem;
    }
    .help2 {
        margin-left: 0rem;
        font-size: 7px;
    }
    #h1-teams {
        font-size: 10px;
        margin-left: 0rem;
    }
    #h1-trucks {
        font-size: 10px;
        margin-top: -1.7rem;
    }
    #teams-counter {
        margin-left: 2.6rem;
        font-size: 15px;
    }
    #trucks-counter {
        margin-right: 2.5rem;
        font-size: 15px;
        margin-top: -0.9rem;
    }
    .diagram1 {
        width: 200px;
    }
    .diagram2 {
        width: 200px;
    }
    .diagram3 {
        width: 200px;
    }
    .h1-heading {
        font-size: 30px;
    }
}
