html,
body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #272525;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #919191;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

p,
ol,
ul {
    margin-top: 0;
}

ol,
ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}

a {
    color: #747474;
}

a:hover {
    text-decoration: none;
}

.container {
    margin: 0px auto;
    width: 1200px;
}


/* Heading Titles*/

.title {
    margin-bottom: 2em;
}

.title h2 {
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3em;
    color: rgb(224, 218, 218);
    ;
    letter-spacing: 1px;
}

.title .byline {
    color: #BC1414;
    letter-spacing: 1px;
}


/* Image Style*/

.image {
    display: inline-block;
}

.image img {
    display: block;
    width: 100%;
}

.image-full {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left {
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered {
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}


/* List Styles*/

ul.style1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.style1 li {
    padding: 10px 0px 15px 0px;
    border-top: 1px solid #363636;
}

ul.style1 a {
    text-decoration: none;
    color: #919191;
}

ul.style1 a:hover {
    text-decoration: underline;
}

ul.style1 .first {
    padding-top: 0px;
    border-top: none;
}

ul.style2 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.style2 li {
    padding: 25px 0px 15px 0px;
    border-top: 1px solid #363636;
}

ul.style2 .first {
    padding-top: 0px;
    border-top: none;
}

ul.style2 h3 {
    padding: 0px 0px 10px 0px;
    letter-spacing: 0.10em;
}

ul.style2 h3 a {
    color: rgb(224, 218, 218);
    ;
}

ul.style2 a {
    text-decoration: none;
    color: #919191;
}

ul.style2 a:hover {
    text-decoration: underline;
}


/* Social Icon Styles*/

ul.contact {
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}

ul.contact li {
    display: inline-block;
    padding: 0em 0.30em;
    font-size: 1em;
}

ul.contact li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a {
    color: rgb(224, 218, 218);
    ;
}

ul.contact li a:before {
    display: inline-block;
    background: #3f3f3f;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: rgb(224, 218, 218);
    ;
}


/* Button Style */

.button {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 30px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
    ;
}

.button:hover {
    background: #e22929;
    transition: all .25s ease-in-out;
}


/* Header*/


/* Logo */

#logo {
    padding: 3em 0em;
    text-transform: uppercase;
}

#logo h1 a {
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(224, 218, 218);
    ;
}

#logo span {
    color: #BC1414;
}

#logo p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.10em;
    font-size: 0.90em;
}

#logo p a {
    text-decoration: none;
}


/* Menu */

.topnav {
    overflow: hidden;
    background-color: #1B1B1B;
    border-bottom: 4px solid #BC1414;
    padding: 0px 0px 0px 0px;
    line-height: normal;
    text-align: center;
}

.topnav a {
    padding: 0em 2em;
    line-height: 80px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    color: #838383;
}

.topnav a.active {
    background-color: #BC1414;
    color: rgb(224, 218, 218);
    padding: 3%;
}

.topnav a:hover {
    text-decoration: none;
    color: rgb(224, 218, 218);
}

.topnav .icon {
    display: none;
}


/* Banner*/

#banner {
    margin: 2em auto;
}


/* Page */

#page {
    overflow: hidden;
    padding: 3em 0em;
    border-bottom: 1px solid #363636;
}


/* Content */

#content {
    float: left;
    width: 800px;
}


/* Sidebar */

#sidebar {
    float: right;
    width: 340px;
}

#sidebar .title {
    letter-spacing: 0.10em;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(224, 218, 218);
    ;
}


/* Footer */

#footer {
    overflow: hidden;
    padding: 6em 0em 4em 0em;
    border-bottom: 1px solid #363636;
}

#footer .title {
    letter-spacing: 0.10em;
    text-transform: uppercase;
    color: rgb(224, 218, 218);
    ;
}

#footer #fbox1 {
    float: left;
    width: 400px;
    margin-right: 50px;
}

#footer #fbox2 {
    float: left;
    width: 400px;
}

#footer #fbox3 {
    float: right;
    width: 300px;
}


/* Footer  */

#footer-bottom {
    padding: 2em 0em;
    font-size: 1em;
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    color: #6A6A6A;
    border-top: 1px solid #363636;
}

#footer-bottom a {
    font-weight: bold;
    text-decoration: none;
    color: #747474;
}

#footer-bottom a:hover {
    text-decoration: underline;
    color: #747474;
}


/* Three Columns */

#three-column {
    overflow: hidden;
    margin-bottom: 2em;
    background: rgb(224, 218, 218);
    border-bottom: 4px solid #BC1414;
    color: #525252;
    text-align: justify;
}

#three-column h2 {
    margin: 1em 0em;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    color: #454445;
    text-align: center;
}

#three-column #tbox1,
#three-column #tbox2,
#three-column #tbox3 {
    float: left;
    width: 300px;
    padding: 50px 38px 50px 50px;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#background-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(224, 218, 218);
}

#text {
    width: 400px;
    text-align: left;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.map-heading {
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 60px;
}

.grid-item {
    background-color: rgb(224, 218, 218);
    border: 9px solid #272525;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#map-div {
    height: 60px;
}

.map {
    height: 250px;
}

#button-resources-team1 {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 47px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
}

#button-resources-team1:hover {
    background-color: #e22929;
}

#button-resources-team2 {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 47px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
    ;
}

#button-resources-team2:hover {
    background-color: #e22929;
}

#button-resources-team3 {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 47px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
    ;
}

#button-resources-team3:hover {
    background-color: #e22929;
}

#button-resources-firetruck1 {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 47px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
}

#button-resources-firetruck1:hover {
    background-color: #e22929;
}

#button-resources-firetruck2 {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 47px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
    ;
}

#button-resources-firetruck2:hover {
    background-color: #e22929;
}

#button-resources-firetruck3 {
    display: inline-block;
    margin-top: 2em;
    background: #BC1414;
    border-radius: 5px;
    line-height: 4em;
    padding: 0 3em;
    margin-left: 47px;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    white-space: nowrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.80em;
    color: rgb(224, 218, 218);
    ;
}

#button-resources-firetruck3:hover {
    background-color: #e22929;
}

.h1-heading {
    color: #454445;
    font-size: 40px;
    text-align: center;
}

#h1-teams {
    color: #454445;
    font-size: 40px;
    text-align: left;
    margin-left: 10%;
}

#h1-trucks {
    color: #454445;
    font-size: 40px;
    margin-left: 60%;
    margin-top: -7.5%;
}

#counter-div {
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;
    margin-bottom: 2em;
    background: rgb(224, 218, 218);
    border-bottom: 4px solid #BC1414;
    color: #525252;
}

@media screen and (max-width: 1220px) {
    .container {
        margin: 0px auto;
        width: 1000px;
    }
    .photo {
        width: 1000px;
    }
    #three-column #tbox1,
    #three-column #tbox2,
    #three-column #tbox3 {
        text-align: center;
        width: 173px;
        padding: 50px 80px;
    }
    input {
        margin-left: -4.5rem;
    }
    #counter-div {
        text-align: center;
    }
    .pls {
        margin-left: -4.5rem;
    }
    #button-resources-team1,
    #button-resources-team2,
    #button-resources-team3,
    #button-resources-firetruck1,
    #button-resources-firetruck2,
    #button-resources-firetruck3 {
        margin-left: -1.7rem;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 3.6%;
    }
}

@media screen and (max-width: 1016px) {
    .container {
        margin: 0px auto;
        width: 800px;
    }
    .photo {
        width: 800px;
    }
    #three-column #tbox1,
    #three-column #tbox2,
    #three-column #tbox3 {
        text-align: center;
        width: 300px;
    }
    #button-resources-team1,
    #button-resources-team2,
    #button-resources-team3,
    #button-resources-firetruck1,
    #button-resources-firetruck2,
    #button-resources-firetruck3 {
        margin-left: -1rem;
    }
    #tbox1,
    #tbox2,
    #tbox3 {
        margin-left: 12.5rem;
    }
    #three-column #tbox1 h2 {
        margin-left: 0rem;
    }
    #three-column #tbox2 h2 {
        margin-left: 0rem;
    }
    #three-column #tbox3 h2 {
        margin-left: 0rem;
    }
    #tbox1,
    #tbox2,
    #tbox3 {
        margin-left: 11.5rem;
    }
    .pls {
        margin-left: -1rem;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 4.5%;
    }
}

@media screen and (max-width: 816px) {
    .container {
        margin: 0px auto;
        width: 600px;
    }
    .photo {
        width: 600px;
    }
    #three-column #tbox1,
    #three-column #tbox2,
    #three-column #tbox3 {
        text-align: center;
        width: 300px;
    }
    #button-resources-team1,
    #button-resources-team2,
    #button-resources-team3,
    #button-resources-firetruck1,
    #button-resources-firetruck2,
    #button-resources-firetruck3 {
        margin-left: -4rem;
        margin-right: 14rem;
    }
    .pls {
        margin-left: -12.5rem;
    }
    #h1-teams {
        margin-left: -5rem;
    }
    #tbox1,
    #tbox2,
    #tbox3 {
        margin-left: 12.5rem;
    }
    #three-column #tbox1 h2 {
        margin-left: -11rem;
    }
    #three-column #tbox2 h2 {
        margin-left: -11rem;
    }
    #three-column #tbox3 h2 {
        margin-left: -11rem;
    }
    #tbox1,
    #tbox2,
    #tbox3 {
        margin-left: 11.5rem;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 5.5%;
    }
}

@media screen and (max-width: 615px) {
    .container {
        margin: 0px auto;
        width: 400px;
    }
    .photo {
        width: 400px;
    }
    #button-resources-team1,
    #button-resources-team2,
    #button-resources-team3,
    #button-resources-firetruck1,
    #button-resources-firetruck2,
    #button-resources-firetruck3 {
        margin-left: 1.5rem;
        margin-right: 14rem;
    }
    #h1-teams {
        font-size: 25px;
        margin-left: -3rem;
    }
    #h1-trucks {
        font-size: 25px;
        margin-left: 0rem;
    }
    .pls {
        margin-left: -0.8rem;
    }
    #tbox1,
    #tbox2,
    #tbox3 {
        margin-left: 12.5rem;
    }
    #three-column #tbox1 h2 {
        margin-left: 0rem;
    }
    #three-column #tbox2 h2 {
        margin-left: 0rem;
    }
    #three-column #tbox3 h2 {
        margin-left: 0rem;
    }
    #three-column #tbox1,
    #three-column #tbox2,
    #three-column #tbox3 {
        text-align: center;
        width: 300px;
    }
    #tbox1,
    #tbox2,
    #tbox3 {
        margin-left: -1.75rem;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 8%;
    }
}

@media screen and (max-width: 415px) {
    #logo {
        font-size: 0.5em;
    }
    .container {
        margin: 0px auto;
        width: 200px;
    }
    .photo {
        width: 200px;
    }
    #h1-teams {
        font-size: 15px;
        margin-left: -1.7rem;
    }
    #h1-trucks {
        font-size: 15px;
        margin-left: 1rem;
    }
    #three-column #tbox1 h2 {
        margin-left: -12rem;
    }
    #three-column #tbox2 h2 {
        margin-left: -12rem;
    }
    #three-column #tbox3 h2 {
        margin-left: -12rem;
    }
    #button-resources-team1,
    #button-resources-team2,
    #button-resources-team3,
    #button-resources-firetruck1,
    #button-resources-firetruck2,
    #button-resources-firetruck3 {
        margin-left: -4rem;
        margin-right: 14rem;
    }
    .pls {
        width: 200px;
        height: 180px;
        margin-left: -12.7rem;
    }
    .help2 {
        margin-left: 0rem;
        font-size: 7px;
    }
}

#teams-counter {
    color: #454445;
    font-size: 40px;
    text-align: left;
    margin-left: 22%;
    font-weight: 700;
}

#trucks-counter {
    color: #454445;
    font-size: 40px;
    text-align: left;
    margin-left: 74%;
    font-weight: 700;
}