html, body {
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #272525;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #919191;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
p, ol, ul {
    margin-top: 0;
}
ol, ul {
    padding: 0;
    list-style: none;
}
p {
    line-height: 180%;
}
a {
    color: #747474;
}
a:hover {
    text-decoration: none;
}
.container {
    margin: 0px auto;
    width: 1200px;
}
                        /* Logo */
#logo {
    padding: 3em 0em;
    text-transform: uppercase;
}
#logo h1 a {
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(224, 218, 218);
}
#logo span {
    color: #BC1414;
}
#logo p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.10em;
    font-size: 0.90em;
}
#logo p a {
    text-decoration: none;
}
                        /* Navbar */
.topnav {
    overflow: hidden;
    background-color: #1B1B1B;
    border-bottom: 4px solid #BC1414;
    padding: 0px 0px 0px 0px;
    line-height: normal;
    text-align: center;
}
.topnav a {
    padding: 0em 2em;
    line-height: 80px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    color: #838383;
}
.topnav a.active {
    background-color: #BC1414;
    color: rgb(224, 218, 218);
    padding: 3%;
}
.topnav a:hover {
    text-decoration: none;
    color: rgb(224, 218, 218);
}
.topnav .icon {
    display: none;
}
                        /* Banner*/
#banner {
    margin: 2em auto;
}
                        /* Footer  */
#footer-bottom {
    padding: 2em 0em;
    font-size: 1em;
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    color: #6A6A6A;
    border-top: 1px solid #363636;
}
#footer-bottom a {
    font-weight: bold;
    text-decoration: none;
    color: #747474;
}
#footer-bottom a:hover {
    text-decoration: underline;
    color: #747474;
}
                        /* Three Columns */
#three-column {
    overflow: hidden;
    margin-bottom: 2em;
    background: rgb(224, 218, 218);
    border-bottom: 4px solid #BC1414;
    color: #525252;
    text-align: justify;
}
#three-column h2 {
    margin: 1em 0em;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    color: #454445;
    text-align: center;
}
#three-column #tbox1, #three-column #tbox2, #three-column #tbox3 {
    float: left;
    width: 300px;
    padding: 50px 50px 80px 50px;
}
.h1-heading {
    color: rgb(224, 218, 218);
    font-size: 50px;
    text-align: center;
}
.h1-heading-spacing {
    color: rgb(224, 218, 218);
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.h2-heading {
    color: rgb(224, 218, 218);
    font-size: 30px;
    text-align: center;
}
br {
    display: block;
    content: "";
    margin-top: 10px;
}
.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1220px)
{
    .container {
        margin: 0px auto;
        width: 1000px;
    }
    .photo {
        width: 1000px;
    }
    .video {
        width: 1000px;
    }
    #three-column {
        overflow: hidden;
        margin-bottom: 2em;
        background: rgb(224, 218, 218);
        border-bottom: 4px solid #BC1414;
        color: #525252;
        text-align: center;
    }
    #three-column h2 {
        margin: 1em 0em;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 700;
        color: #454445;
        text-align: center;
    }
    #three-column #tbox1, #three-column #tbox2, #three-column #tbox3 {
        float: left;
        width: 173px;
        padding: 50px 80px;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 3.6%;
    }
}
@media screen and (max-width: 1016px) {
    .container {
        margin: 0px auto;
        width: 800px;
    }
    .photo {
        width: 800px;
    }
    .video {
        width: 800px;
    }
    #three-column #tbox1, #three-column #tbox2, #three-column #tbox3 {
        text-align: center;
    }
    #tbox1 {
        margin-left: 15rem;
    }
    #tbox2 {
        margin-left: 15rem;
    }
    #tbox3 {
        margin-left: 15rem;
    }
    .h1-heading {
        font-size: 40px;
    }
    .photo1 {
        margin-left: -3rem;
        width: 300px;
    }
    .photo2 {
        margin-left: -2rem;
    }
    .photo3 {
        margin-left: -4rem;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 4.5%;
    }
}
@media screen and (max-width: 816px) {
    .container {
        margin: 0px auto;
        width: 600px;
    }
    .photo {
        width: 600px;
    }
    .video {
        width: 600px;
    }
    .h1-heading {
        font-size: 30px;
    }
    #three-column #tbox1, #three-column #tbox2, #three-column #tbox3 {
        margin-left: 9rem;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 5.5%;
    }
}
@media screen and (max-width: 615px) {
    .container {
        margin: 0px auto;
        width: 400px;
    }
    .photo {
        width: 400px;
    }
    .video {
        width: 400px;
    }
    .h1-heading {
        font-size: 20px;
    }
    .topnav a.active {
        background-color: #BC1414;
        color: rgb(224, 218, 218);
        padding: 8%;
    }
    #three-column #tbox1, #three-column #tbox2, #three-column #tbox3 {
        margin-left: 3rem;
    }
}
@media screen and (max-width: 416px) {
    .container {
        margin: 0px auto;
        width: 200px;
    }
    .photo {
        width: 200px;
    }
    .video {
        width: 200px;
    }
    .h1-heading {
        font-size: 10px;
    }
    .h1-heading-spacing {
        font-size: 15px;
    }
    #three-column #tbox1, #three-column #tbox2, #three-column #tbox3 {
        margin-left: -4rem;
    }
    .photo1 {
        margin-left: 1rem;
        width: 175px;
    }
    .photo3 {
        width: 185px;
        margin-left: 0rem;
    }
    .help1 {
        font-size: 7px;
    }
}